html{
    text-align: center;
}
body{
    margin: 0px;
}
.welcome{
    grid-area: main;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "main main main main main main"
    "content content content content content content"; 
}
