html{
    text-align: center;
}
body{
    margin: 0px;
}
#navbar{
    display: flex;
    top:0;
    position: fixed;
    background-color: black;
    color: #ffffff;
    width: 100%;
    justify-content: center;
    z-index: 50;
}
ul{
    display:flex;
    justify-content: space-around;
    width:100%;
}
li{
    display: flex;
    list-style: none;
    padding-right: 70px;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
}
a{
    color:white;
    text-decoration: none;
    
}
#welcome-section{
    height: 100vh;
    padding-top: 35px;
    display: block;
}
#banner{
    padding: 35vh;
    height: 33%;
    width: 33%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.welcome{
    grid-area: welcome;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    height: 100vh;
}
.projects{
    padding-top:2.2rem;
    padding-bottom: 2.2rem;
    background-color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "welcome welcome welcome welcome welcome welcome"
    "projects projects projects projects projects projects"; 
}
