html{
    text-align: center;
}
body{
    margin: 0px;
}
header{
    width: 100%;
    background: black;
    color: white;
    top:0;
    position: fixed;
    z-index: 100;
}
ul{
    display:flex;
    justify-content: space-around;
}
li{
    display: flex;
    list-style: none;
    padding-right: 70px;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
}
a{
    color:white;
    text-decoration: none;
}
.banner{
    padding: 35vh;
    height: 33%;
    width: 33%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.welcome{
    grid-area: main;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    height: 100vh;
}
.content {
    grid-area: content;
    justify-content: center;
    padding-bottom: 60px;
    padding-top:2.2rem;
    padding-bottom: 2.2rem;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "main main main main main main"
    "content content content content content content"; 
}