html, body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-repeat: no-repeat;
    text-align: center;
}
#navbar{
    display: flex;
    top:0;
    position: fixed;
    background-color: black;
    color: #ffffff;
    width: 100%;
    justify-content: center;
    z-index: 50;
}
ul{
    display:flex;
    flow-direction: row;
    justify-content: space-around;
    width:100%;
}
li{
    display: flex;
    list-style: none;
    padding-right: 70px;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
}
a{
    color:white;
    text-decoration: none;
    
}
#welcome-section{
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    width: 100%;
}
#banner{
    padding: 35vh;
    height: 33%;
    width: 33%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
#projects{
    width: 100%;
    padding-top:2.2rem;
    padding-bottom: 2.2rem;
    background-color: white;
}
.project-tile{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
    height: 240px;
    width: 280px;
    margin: 40px 100px;
}
.image{
    position: relative;
    display: inline-block;
}
.image .top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
}
.image:hover .top {

        display: inline;
}
#footer{
    display: flex;
    flow-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    height: 2.2rem;
    bottom: 0;
    position: fixed;
    width:100%;
    color: white;
    padding-top: 1rem;
}
.badge{
    position: left;
    text-align: left;
    padding: 0 10px 0px 10px;
}
#headline{
    padding-top: 10px;
    color: black;
}
#profile-link{
    padding-left: 20px;
}
    
